:root {
  --neon-blue: #00aaff;
  --dark-gray: #2C2C2C;
  --dark-light-gray: #717171;
  --text-light: #FFFFFF;
  --text-dark: #000000;
  --bg-light: #F5F5F5;
  --bg-dark: #1E1E1E;
  --bg-shady:#cdcdcd;
}

/* Container Classes */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

/* Flexbox Classes */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.align-center{
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

/* Grid Classes */
.grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Text Alignment Classes */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.ts-larger{
  font-size: larger;
}

.ts-small{
  font-size: small !important;
}
.fb-500{
  font-weight:500;
}

.circle{
  border-radius: 50%;
}
.bb-3{
  border-bottom: 3px solid var(--bg-shady);
}
/* Padding Classes */
.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

/* Margin Classes */
.m-0{
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-4{
  margin-top: 1rem;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mr-3{
  margin-right: 0.75rem;
}


/* Background Color Classes */
.bg-dark {
  background-color: var(--dark-gray);
}

.bg-light {
  background-color: var(--bg-light);
}

.bg-neon {
  background-color: var(--neon-blue);
}

.bg-light-gray{
  background-color: var(--dark-light-gray);
}

.bg-shady{
  background-color: var(--bg-shady);
}
.bg-image{
  background-image: url('../images/bg.jpg');
  background-size: cover; /* Ensure the image covers the whole area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

/* Text Color Classes */
.text-light {
  color: var(--text-light);
}

.text-shady{
  color: var(--bg-shady);
}

.text-dark {
  color: var(--text-dark);
}

.text-neon {
  color: var(--neon-blue);
}

/* Border Classes */
.border {
  border: 1px solid;
}

.border-dark {
  border-color: var(--dark-gray);
}

.border-neon {
  border-color: var(--neon-blue);
}

.border-light-gray{
  border-color: var(--dark-light-gray);
}

/* Border Radius Classes */
.rounded {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 50%;
}

/* Width and Height Classes */
.w-full {
  width: 100%;
}

.w-50{
  width: 50%;
}

.w-25{
  width: 25vw;
}

.w-75{
  width: 75vw;
}

.min-h-75{
  min-height: 75vh;
}
.w-min-130{
  min-width: 130px;
}

.h-full {
  height: 100%;
}


.h-75{
  height: 75vh;
}

.h-13{
  height: 13.6vh;
}

.h-10{
  height: 10vh;
}

.h-button{
  height: 48px;
  transition: all 0.3s, color 0.3s, transform 0.3s;

}

.h-button:hover{
  background-color: var(--bg-light);
  color: var(--bg-dark);
}
.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

/* Shadow Classes */
.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shadow-neon {
  box-shadow: 0 4px 8px var(--neon-blue);
}

/* Custom Classes for Code Editor */
.editor {
  background-color: var(--dark-gray);
  color: var(--text-light);
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;
  border-radius: 0.5rem;
}

.editor-line {
  display: block;
  padding: 0.5rem;
  border-bottom: 1px solid var(--bg-light);
}

.editor-keyword {
  color: var(--neon-blue);
  font-weight: bold;
}

.editor-string {
  color: #FFD700; /* Gold color for strings */
}

.nav-button {
  display: inline-block;
  color: var(--text-light);
  background-color: var(--dark-gray);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.nav-button:hover {
  background-color: var(--neon-blue);
  color: var(--text-dark);
  transform: translateY(-2px);
}

.wide-button{
  width: 100%;
  padding: 1rem;
  color: var(--bg-dark);
  background-color: var(--neon-blue);
  border-radius: 6px;
  transition: all 0.3s ease;
}
.wide-button:hover{
  background-color: var(--bg-light)
}

/* Existing CSS here */

/* HomePage Specific Styles */
.home-page .features {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
}

.home-page .feature {
  background-color: var(--dark-gray);
  color: var(--text-light);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  flex: 1;
  text-align: center;
}

@media (max-width: 768px) {

}



@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: var(--bg-light);
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: var(--neon-blue);
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: var(--neon-blue);
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: var(--dark-gray);
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: var(--bg-light);
  letter-spacing: 1px;
  border: none;
  background: var(--neon-blue);
  cursor: pointer;

}
.input-box.button input:hover{
  background: var(--neon-blue);
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: var(--neon-blue);
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}



/* Chat List Styles */
.chat-list {
  overflow-y: auto;
  max-height: 100vh;
}

/* Chat Box Styles */
.chat-box {
  overflow-y: scroll;
  max-height: 57vh;
}

.cursor-pointer {
  cursor: pointer;
}

.chat-users-list ul{
  margin: 0;
  padding: 0;
}

.chat-users-list li{
  list-style:  none;
}

/* Existing CSS here */

.nav-links {
  display: flex;
}

.mobile-menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {

  .home-page {
    padding: 2rem;
    height: auto;
  }

  .home-page h1 {
    font-size: 2rem;
  }

  .home-page p {
    font-size: 1rem;
    padding: 1rem;
  }

  .home-page .m-5 {
    margin: 1rem;
  }

  .home-page .start-button {
    padding: 0.75rem 1.5rem;
    font-size: medium;
  }

  .home-page .features {
    flex-direction: column;
    align-items: center;
  }

  .home-page .feature {
    margin: 1rem 0;
    width: 90%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: var(--dark-gray);
  }

  .nav-links.open {
    display: flex;
  }

  .mobile-menu-toggle {
    display: block;
  }

  .nav-button {
    padding: 1rem;
    border-bottom: 1px solid var(--bg-light);
  }
}


/* Existing styles */

/* Custom classes for message styling */
.bg-sender {
  background-color: var(--neon-blue);
  align-self: flex-end; /* Align to the right */
  max-width: 70%;
  width: auto;
}

.bg-receiver {
  background-color: var(--dark-gray);
  align-self: flex-start; /* Align to the left */
  max-width: 70%;
  width: auto;

}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.opc-5{
  opacity: 0.5;
}

.send-message:focus{
  color: var(--text-dark);
  font-weight: 900;
}

.send-message::placeholder{
  font-weight: 300;
}

.send-message.has-text{
  font-weight: 900;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ensure this is visible at the bottom */
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto; /* Center the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
